{% extends 'base.html' %}

{% block title %}Page Not Found{% endblock %}

{% block content %}

    <h1>Page Not Found - 404</h1>

    <p>The page you are looking for could not be found - please check the address and try again.</p>

{% endblock %}
