{% extends 'base.html' %}

{% block title %}Internal Server Error{% endblock %}

{% block content %}

    <h1>Internal Server Error - 500</h1>

    <p>Something went wrong on the server. Please try again later...</p>

{% endblock %}
