{% load fuud_extras %}
{# manifest="/static/offline.appcache" #}
<!DOCTYPE html>
<html lang="en" ng-app="Fuud" manifest="/static/offline.appcache">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% settings_value 'APP_DESCRIPTION' %}">
    <meta name="author" content="{% settings_value 'APP_NAME' %}">
    <title>
        {% block title %}Fuud{% endblock %}
        {% block title_suffix %}{% endblock %}
    </title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/app.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ngProgress.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
    <header id="fuud-header">
        {% block header %}
            {% include 'partials/header.html' %}
        {% endblock %}
    </header>

    <div id="main-content" class="container">
        {% block messages %}
            <div id="user-messages">
                <div class="alert alert-warning alert-dismissable" ng-show="flash.warning" ng-cloak>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="toggleFlashMessage('warning')">&times;</button>
                    <strong>Warning!</strong>
                    {% verbatim %}
                        {{ flash.warning }}
                    {% endverbatim %}
                </div>
                <div class="alert alert-success alert-dismissable" ng-show="flash.success" ng-cloak>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="toggleFlashMessage('success')">&times;</button>
                    <strong>Yay!</strong>
                    {% verbatim %}
                        {{ flash.success }}
                    {% endverbatim %}
                </div>
                <div class="alert alert-info alert-dismissable" ng-show="flash.info" ng-cloak>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="toggleFlashMessage('info')">&times;</button>
                    <strong>Attention!</strong>
                    {% verbatim %}
                        {{ flash.info }}
                    {% endverbatim %}
                </div>
                <div class="alert alert-danger alert-dismissable" ng-show="flash.error" ng-cloak>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="toggleFlashMessage('error')">&times;</button>
                    <strong>Oh snap!</strong>
                    {% verbatim %}
                        {{ flash.danger }}
                    {% endverbatim %}
                </div>
            </div>
        {% endblock %}

            {% block progressbar %}
            <div class="progress progress-striped active" ng-show="progress.display">
                <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                    <span class="sr-only">45% Complete</span>
                </div>
            </div>
        {% endblock %}

        {% block content %}
        <div ng-view></div>
       {% endblock %}
    </div>

    {% csrf_token %}

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_ACCOUNT }}']);
        _gaq.push(['_setDomainName', 'WEBSITE_URL']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
    })();
    </script>
    {% block extra_scripts %}
    {% endblock %}

    {% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/angular/angular.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/angular/angular-route.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/angular/angular-resource.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/angular/angular-cookies.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/angular/angular-progress.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/angular/angular-cache.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/underscore.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/pusher.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/services.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/controllers.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/filters.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/directives.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap.min.js"></script>
    <script type="text/javascript">
     $(document).ready(function(){
         $(window).scroll(function(){
             if ($(this).scrollTop() > 100) {
                 $('.scrollup').fadeIn();
             } else {
                 $('.scrollup').fadeOut();
             }
         });

         $('.scrollup').click(function(){
             $("html, body").animate({ scrollTop: 0 }, 600);
             return false;
         });
     });

      // Application Cache
     // check if a new cache is available on page load.
     window.addEventListener('load', function(e) {
         window.applicationCache.addEventListener('updateready', function(e) {
             if (window.applicationCache.status == window.applicationCache.UPDATEREADY) {
                 // Browser downloaded a new app cache.
                 // Swap it in and reload the page to get the new hotness.
                 window.applicationCache.swapCache();
                 if (confirm('A new version of this site is available. Load it?')) {
                     var scope = angular.element(document).scope();
                     scope.safeApply(function(){
                         scope.$emit('cacheUpdated');
                     });
                     window.location.reload();
                 }
             } else {
                 // Manifest didn't changed. Nothing new to server.
             }
         }, false);

     }, false);
    </script>

    {% endblock %}

<hr/>
    <footer id="fuud-footer" class="">
        {% block footer %}
            {% include 'partials/footer.html' %}
        {% endblock %}
    </footer>
    {% verbatim %}
    <div class="modal fade" ng-cloak id="modal-box">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="hideModal()">&times;</button>
                    <h4 class="modal-title">{{ modal.title }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ modal.body }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="hideModal()">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endverbatim %}

    {% block pusher_configs %}
    <input id="pusher-key" type="hidden" disable
           value="{% settings_value 'PUSHER_KEY' %}" />

    <input id="pusher-channel" type="hidden" disable
           value="{% settings_value 'PUSHER_CHANNEL' %}" />

    {% endblock %}

{% block angular_partials %}
    {% angular_template '*' %}
{% endblock %}
</body>
</html>
