<span class="pull-left">
<ul class="list-inline">
    <li><a href="/">Home</a></li>
    <li><a href="/help">Help</a></li>
</ul>
</span>

<span class="pull-right">
<ul class="list-inline">
    <li>&copy; 2013, <a href="">Cool Restaurant</a></li>
    <li><a href="#main-nav" class="scrollup">Home</a></li>
</ul>
</span>
