{% load fuud_extras %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header" id="main-nav">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{% settings_value 'APP_NAME' %}</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-left">
            <li ng-class="{'active':currentPage == 'home'}" >
                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
            </li>
            <li ng-class="{'active':currentPage == 'account'}" ng-show="user.isAuthenticated" ng-cloak>
                <a href="/#account"><span class="glyphicon glyphicon-user"></span> My Account</a>
            </li>
            <li ng-class="{'active':currentPage == 'dashboard'}" ng-show="user.isAdmin" ng-cloak>
                <a href="/#dashboard"><span class="glyphicon glyphicon-stats"></span>
                {% verbatim %}
                    <span class="badge pull-right" ng-cloak>{{ orders.total }}</span> Dashboard  </a>
                {% endverbatim %}
            </li>

            <li ng-class="{'active':currentPage == 'help'}">
                <a href="/#help"><span class="glyphicon glyphicon-info-sign"></span> Help</a>
            </li>
          </ul>
          <ul class="nav navbar-nav pull-right">
              <li ng-show="user.isAuthenticated">
                  <a target="_self" href="#/account" ng-cloak>
                      {% verbatim %}
                        Hi, {{ user.username }}!
                      {% endverbatim %}
                  </a>
              </li>

              <li title="Click to open cart options" id="cart-indicator">
                  <a href="/#checkout">
                      <span class="glyphicon glyphicon-shopping-cart"></span>
                  {% verbatim %}
                      <span class="badge pull-right" ng-cloak>{{ cart.items.length }}</span>
                      <span style="margin-right: 3px" ng-cloak>{{ cart.total | currency:currencyUnit }}</span>
                  </a>
                  {% endverbatim %}
              </li>
                  <ul class="dropdown-menu">
                      <li ng-hide="isCartEmpty()">
                          <a href="/#checkout">
                              <span class="glyphicon glyphicon-new-window"></span> Checkout</a>
                      </li>
                      <li ng-hide="isCartEmpty()">
                          <a href="#" ng-click="emptyCart()">
                              <span class="glyphicon glyphicon-trash"></span> Empty cart</a>
                      </li>
                  </ul>
               <li>
                  <a target="_self" href="/logout" ng-click="logOut()" ng-show="user.isAuthenticated" ng-cloak>
                          <span class="glyphicon glyphicon-log-out"></span> Log out
                  </a>
                   <a target="_self" href="/login/twitter" ng-show="!user.isAuthenticated" ng-cloak>
                           <span class="glyphicon glyphicon-log-in"></span> Log in
                   </a>
              </li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </div>
