body {
  padding-top: 50px;
  background-color: #f0f0f0;
}


.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:5px;
    cursor : hand !important;
    display:none;
    text-indent:-9999px;
    background: url('/static/images/icon_top.png') no-repeat;
}

.table td {
   text-align: left;   
}

li#cart-indicator ul.dropdown-menu li a{
  cursor: hand !important; 
}

#items-filter {
  width: 300px
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

footer{
  width:100%;
  clear:both;
  height: 110px;
  font-size: 12px;
  margin-top: 60px;
}


#fuud-footer li {
  padding: 5px;
}

div#main-content {
  padding: 40px 15px;
  text-align: center;
}