<h3>Order history</h3>
<table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Reference</th>
            <th>Total</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="order in user.orders.items | orderBy:name:reverse" ng-class="orderStatus(order.status)">
            <td>{{ order.created_at }}</td>
            <td>{{ order.ref }}</td>
            <td>{{ order.total_cost }}</td>
            <td>{{ order.status|orderStatusName }}</td>
            <td><a show="order.status < 1" ng-click="updateOrderStatus('cancelled', order.ref)" class="btn btn-danger">Cancel</a></td>
          </tr>
        </tbody>
</table>



<form class="form-horizontal" role="form">
<div class="form-group">
    <fieldset>
        <legend class="pull-left">Account Info</legend>
    <div class="form-group">
    <label for="user-address" class="col-sm-2 control-label">Street Address</label>
    <div class="col-sm-5">
        <textarea class="form-control" id="user-address"
                  placeholder="Street address" ng-model="user.address"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="user-email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-5">
        <input type="text" class="form-control" id="user-email"
               placeholder="Email address" ng-model="user.email" value="{{ user.email }}" />
    </div>
  </div>
  <div class="form-group">
    <label for="user-phone" class="col-sm-2 control-label">Phone</label>
    <div class="col-sm-5">
        <input type="text" class="form-control" id="user-phone"
               placeholder="Phone number" ng-model="user.phone_number" value="{{ user.phone_number }}" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.keepUpdated"/> Notify me about new food items
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <button type="submit" ng-click="updateUserInfo()" class="btn btn-default">Save</button>
    </div>
  </div>
    </fieldset>
</div>
</form>
