<table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in cart.items | orderBy:name:reverse | unique">
            <td>{{ item.name }}</td>
            <td>{{ currencyUnit + item.price }}</td>
            <td>
                <input class="form control input-sm cart-item-qty" type="number" min="0" max="10"
                       value="{{ item | qty_in_cart }}" watchItemQty itemid="{{ item.id }}"/>
            </td>
            <td>{{ currencyUnit }} {{ item | subtotal_in_cart }}</td>
            <td><button type="button" class="btn btn-danger btn-sm" ng-click="removeFromCart(item.id, item.name)">Remove</button></td>
          </tr>
        </tbody>
</table>

<hr/>
<div class="pull-left" id="cart-menu-actions">
    <ul class="list-inline">
        <li>
            <button type="button" class="btn btn-danger btn-sm"
                    ng-click="emptyCart()" ng-hide="isCartEmpty()">
            Empty cart
            </button>
        </li>
        <li>
            <a href="/login/twitter" title="Login to continue"
               ng-show="!isCartEmpty() && !user.isAuthenticated">
            <button type="button" class="btn btn-primary btn-sm">
                Login to submit order
            </button>
            </a>
        </li>
        <li>
            <button type="button" class="btn btn-success btn-sm"
                    ng-click="submitOrder()"
                    ng-show="!isCartEmpty() && user.isAuthenticated" >
            Place order
        </button>
        </li>
    </ul>
</div>
