<h3>Orders</h3>
<table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Reference</th>
            <th>Customer</th>
            <th>Total</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="order in orders.items | orderBy:name:reverse" ng-class="orderStatus(order.status)">
            <td>{{ order.created_at }}</td>
            <td>{{ order.ref }}</td>
            <td>{{ order.user.email }}</td>
            <td>{{ order.total_cost }}</td>
            <td>
                <select>
                    <option ng-repeat="option in orderStatusOptions"
                            value="{{ option.value }}" ng-selected="isOrderStatusSelected(order.status,option.value)"
                            ng-click="toggleOrderStatus(order.ref, option.value) ">
                        {{ option.name }}
                    </option>
                </select>
            </td>
          </tr>
        </tbody>
</table>
