<div id="items-filter" ng-show="items">
<form role="form">
  <div class="form-group clearfix">
      <label for="filter-input" class="pull-left"><span class="badge pull-right">{{ items.length }}</span>Filter the items </label>
      <input type="text" class="form-control pull-left" ng-model="search.item" placeholder="I am looking for...">
  </div>
</form>
</div>

<hr/>

<div class="row" ng-show="items">
         <div class="col-sm-4 col-md-3 col-xs-6 pull-left" ng-repeat="item in items | filter:search.item">
           <div class="thumbnail">
             <img alt="300x200" style="width: 300px; height: 200px;" src="{{ item.cover_image }}" class="img-responsive"/>
             <div class="caption">
               <p>{{ item.name|truncate:60 }}</p>
               <p>
                   <ul class="list-inline">
                       <li>
                           <a><span class="label label-info">{{ currencyUnit + item.price }} </span></a>
                       </li>
                       <li>
                           <a class="btn btn-primary btn-sm" role="button" ng-click="AddToCart(item.id)">Add to cart</a>
                       </li>
                   </ul>
               </p>
             </div>
           </div>
         </div>
</div>
